* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.20rem + 0.73vw), 1.77rem);
  --step-2: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.50rem);
  --step-3: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);
  --step-4: clamp(2.33rem, calc(1.41rem + 4.63vw), 5.00rem);
  --step-5: clamp(2.80rem, calc(1.32rem + 7.42vw), 7.07rem);

  --text: #dbf0df;
  --background: #071309;
  --primary-button: #07b03a;
  --secondary-button: #ffffff;
  --accent: #08c942;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #171717;
  color: #dadada;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100svh;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}

.news {
  min-width: 375px;
  max-width: 66%;
  text-align: left;
  border: 1px solid #eeeeee2f;
  padding: 20px;
  margin: 20px 0;
  backdrop-filter: blur(5px);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.news p {
  font-size: 16px;
  line-height: 1.6;
}

.campaigns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  min-width: 375px;
  max-width: 66%;
  padding: 1em;
}

.campaign-item {
  border: 1px solid #dddddd33; 
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  backdrop-filter: blur(5px);
}

.footer {
  width: 100%;
  padding: 40px;
}

@media (max-width: 768px) {

  h1, h3 {
    font-size: 18px;
  }

  .news {
    max-width: 90%;
  }

  .campaigns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    min-width: 375px;
    max-width: 66%;
    padding: 1em;
  }
}

